body{padding-top:50px}
.btn-file{position:relative;overflow:hidden}.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:999px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:none;background:white;cursor:inherit;display:block}
.navbar-brand{background-image:url(../img/brain_blue.png);background-repeat:no-repeat;background-size:25% auto;background-position:8px 7px;height:100%;padding-left:50px;font-size:20px}
.option-list{margin-left:0px;padding-left:0px;padding-right:10px}.option-list label{font-weight:normal;width:100%}.option-list label input,.option-list label span.switchery{float:right}
th a i{padding-left:8px}
.table-responsive{border:0}
div.tab-container{z-index:10;background-color:#ffffff;padding:0 !important;margin-top:0px;margin-left:0px;padding-left:-15px;background-clip:padding-box;opacity:0.97;filter:alpha(opacity=97)}
div.tab-menu{padding-right:0;padding-left:0;padding-bottom:0}
div.tab-menu div.list-group{margin-bottom:0}
div.tab-menu div.list-group>a{margin-bottom:0;border-radius:0;-moz-border-radius:0}
div.tab-menu div.list-group>a,div.tab-menu div.list-group>a .glyphicon,div.tab-menu div.list-group>a .fa{color:#428bca}
div.tab-menu div.list-group>a.active,div.tab-menu div.list-group>a.active .glyphicon,div.tab-menu div.list-group>a.active .fa{background-color:#428bca;background-image:#428bca;border-color:#428bca;color:#ffffff}
div.tab-menu div.list-group>a.active:after{content:'';position:absolute;left:100%;top:50%;margin-top:-13px;border-left:0;border-bottom:13px solid transparent;border-top:13px solid transparent;border-left:10px solid #428bca}
div.tab-content{background-color:#ffffff;padding-left:20px;padding-top:10px}
.modal-dialog{margin:0;width:80%;position:absolute;top:10%;left:10%}
