<div ng-controller="destinationCtrl">
  <h2>4. Auswertung speichern</h2>
  <p>W&auml;hle aus, wo die Auswertung gespeichert werden soll.</p>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="data.destination" placeholder="Kein Speicherort ausgew&auml;hlt">
    <span class="input-group-btn">
      <span class="btn btn-default btn-file">
        <i class="glyphicon glyphicon-folder-open"></i><input type="file" nwsaveas="Auswertung.xlsx" dir="dir">
      </span>
    </span>
  </div>
</div>