<div ng-controller="groupsCtrl">
  <h2>2. Daten gruppieren</h2>
  <p>Anhand der Dateinamen können die einzelnen Dateien verschiedenen Gruppen zugeordnet werden. Hier kann festgelegt werden, ob und wie die einzelnen Gruppen erstellt werden sollen.</p>

  <div class="option-list">
    <label>
      <strong>Sollen die Daten gruppiert werden?</strong><input type="checkbox" class="js-switch" switch="data.grouping"> 
    </label>
  </div>

  <div ng-show="data.grouping">
    <p>Der Dateiname sollte eine Bezeichnung für die Gruppe und einen Titel enthalten. Bitte gib an, wie der Dateiname aufgebaut ist:</p>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="filename_pattern" class="control-label col-xs-3">Dateiname</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" ng-model="data.filename_pattern" id="data.filename_pattern">
        </div>
      </div>
    </form>
  </div>
</div>