<div ng-controller="groupsCtrl">
  <h2>2. Daten gruppieren</h2>
  <p>Anhand der Dateinamen können die einzelnen Dateien verschiedenen Gruppen zugeordnet werden. Hier kann festgelegt werden, ob und wie die einzelnen Gruppen erstellt werden sollen.</p>

  <div class="option-list">
    <label>
      <strong>Sollen die Daten gruppiert werden?</strong><input type="checkbox" class="js-switch" switch="data.grouping"> 
    </label>
  </div>

  <div ng-show="data.grouping">
    <p>Der Dateiname sollte eine Bezeichnung für die Gruppe und einen Titel enthalten. Bitte gib an, wie der Dateiname aufgebaut ist:</p>
    <form class="form-horizontal">
      <div class="form-group" id="pattern_div">
        <label for="filename_pattern" class="control-label col-xs-3">Dateiname</label>
        <div class="input-group col-xs-9">
          <input type="text" class="form-control" ng-model="data.filename_pattern" id="filename_pattern">
          <span class="input-group-addon">.xls</span>
        </div>
      </div>
    </form>
    <div ng-show="data.files.length">
      <p>
        Die Tabelle zeigt die Gruppen an, die anhand der Dateinamen gefunden wurden. Jeder Gruppe kann noch eine Bezeichnung gegeben werden, die dann in der Auswertung erscheint.
      </p>
      <table class="table table-condensed table-hover" id="group_table">
        <thead>
          <tr>
            <th class="col-xs-3"><a href="#" ng-click="changeSort('id', $event)">#<i class="glyphicon glyphicon-chevron-down"></a></i></th>
            <th class="col-xs-6"><a href="#" ng-click="changeSort('title', $event)">Bezeichnung<i class="glyphicon"></a></th>
            <th class="col-xs-3 text-center"><a href="#" ng-click="changeSort('files', $event)">Dateien<i class="glyphicon"></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="group in data.groups | orderBy:sort:reverse">
            <td>{{group.id}}</td>
            <td><input class="form-control" type="text" placeholder="{{group.id}}" ng-model="group.title"></td>
            <td class="text-center">{{group.files}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="!data.files.length">
      Es wurde noch kein Quellverzeinis ausgewählt!
    </div>
  </div>
</div>