<!DOCTYPE html>
<html ng-app="dendrites">
<head>
  <title>Dendrites</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Dendrites</a>
      </div>
    </div>
  </nav>
  <div class="content">
    <tab-list>
      <tab-pane title="1. Quelle ausw&auml;hlen" icon="glyphicon-hdd">
        <div ng-controller="sourceCtrl">
          <h2>1. Quelle ausw&auml;hlen</h2>
          <p>
            W&auml;hle einen Ordner aus, der Dateien zum Auswerten enth&auml;lt. Es werden nur Excel-Dateien mit den Endungen *.xls und *.xlsx ausgwertet.
          </p>
          <div class="row">
            <div class="col-sm-5 col-xs-5 col-md-5">
              <span class="btn btn-success btn-file">
                Ordner ausw&auml;hlen <input type="file" nwdirectory dir="dir">
              </span>
            </div>
            <div class="col-sm-7 col-xs-7 col-md-7">
              Ausgew&auml;hlter Ordner: {{dir}} <br>
              Enthaltene Dateien: {{files.length}} 
            </div>
          </div>
        </div>
      </tab-pane>
      <tab-pane title="Nummer 2" icon="glyphicon-barcode">
        <h4>Noch ein Tab</h4>
        <p>Ich bin Nummer 2</p>
      </tab-pane>
    </tab-list>

  </div>
  
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/bootstrap.min.js"></script>
  <script src="../js/libs/angular.js"></script>
  <script src="../js/libs/underscore.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/directives.js"></script>
  <script src="../js/factories/read_xls.js"></script>
  <script src="../js/factories/xlsx.js"></script>
</body>
</html>