<!DOCTYPE html>
<html ng-app="dendrites">
<head>
  <title>Dendrites</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-controller="baseCtrl">

  <div class="container content">
    <span class="btn btn-success btn-file">
      Ordner ausw&auml;hlen <input type="file" nwdirectory dir="dir">
    </span>
    <div>
      Ordner: {{dir}}
    </div>
    <div>
      Anzahl: {{files.length}}
      <ul>
        <li ng-repeat="file in files">{{file}}</li>
      </ul>
    </div>
  </div>
  
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/bootstrap.min.js"></script>
  <script src="../js/libs/angular.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/directives.js"></script>
</body>
</html>