<!DOCTYPE html>
<html ng-app="dendrites">
<head>
    <title>Dendrites</title>
</head>
<body ng-controller="baseCtrl">
  <input type="file" nwdirectory dir="dir" value="Ordner auswählen">
  <div>
    Ordner: {{dir}}
  </div>
  <div>
    <button type="button" ng-click="loadFiles()">Dateien laden</button>
    Anzahl: {{files.length}}
    <ul>
      <li ng-repeat="file in files">{{file}}</li>
    </ul>
  </div>

  <script src="../js/libs/angular.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/directives.js"></script>
</body>
</html>