<div ng-controller="previewCtrl">
  <h2>4. Datenvorschau</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Dendriten</div>
    <div class="panel-body">
      <button class="btn btn-primary" ng-click="loadDendriteData()">Daten laden</button>
      <table class="table table-condensed table-hover" id="group_table">
        <thead>
          <tr>
            <th class="col-xs-3"><a href="#" ng-click="changeSort('id', $event)">#<i class="glyphicon glyphicon-chevron-down"></a></i></th>
            <th class="col-xs-6"><a href="#" ng-click="changeSort('title', $event)">Bezeichnung<i class="glyphicon"></a></th>
            <th class="col-xs-3 text-center"><a href="#" ng-click="changeSort('files', $event)">Dateien<i class="glyphicon"></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="group in data.groups | orderBy:sort:reverse">
            <td>{{group.id}}</td>
            <td><input class="form-control" type="text" placeholder="{{group.id}}" ng-model="group.title"></td>
            <td class="text-center">{{group.files}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>