<div ng-controller="previewCtrl">
  <h2>4. Datenvorschau</h2>
  <div ng-show="!data.loaded_data">
    <p>Hier kann eine kurze Vorschau in die Daten angezeigt werden, bevor sie im nächsten Schritt exportiert werden.</p>
  </div>
  <div ng-show="data.dendrites.length">
    <div class="panel panel-default">
      <div class="panel-heading">Dendriten</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Dendrit</th>
                <th ng-show="data.data_options.dendrite.length">Länge</th>
                <th ng-show="data.data_options.dendrite.surface">Oberfläche</th>
                <th ng-show="data.data_options.dendrite.volume">Volumen</th>
                <th ng-show="data.data_options.dendrite.total_spines">Spines</th>
                <th ng-show="data.data_options.dendrite.spine_density">Spinedichte</th>
                <th ng-show="data.data_options.dendrite.mean_spine_length">Spinelänge</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dendrite in data.dendrites">
                <td>{{$index + 1}}</td>
                <td>{{dendrite.title}}</td>
                <td ng-show="data.data_options.dendrite.length">{{dendrite.length}}</td>
                <td ng-show="data.data_options.dendrite.surface">{{dendrite.surface}}</td>
                <td ng-show="data.data_options.dendrite.volume">{{dendrite.volume}}</td>
                <td ng-show="data.data_options.dendrite.total_spines">{{dendrite.total_spines}}</td>
                <td ng-show="data.data_options.dendrite.spine_density">{{dendrite.spine_density}}</td>
                <td ng-show="data.data_options.dendrite.mean_spine_length">{{dendrite.spine_means.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>